@font-face {
  font-family: Vazir;
  src: url('../node_modules/vazir-font/dist/Vazir-Regular.eot');
  src: url('../node_modules/vazir-font/dist/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
       url('../node_modules/vazir-font/dist/Vazir-Regular.woff2') format('woff2'),
       url('../node_modules/vazir-font/dist/Vazir-Regular.woff') format('woff'),
       url('../node_modules/vazir-font/dist/Vazir-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  direction: rtl;
  font-family: Vazir, sans-serif;
  margin: 0;
}
.MuiBottomNavigationAction-label {
  font-family: Vazir, sans-serif !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
